.chat-side
  .side-header
    .side-header__box
      .user-name
        けいちゃん
      .box-menu
        .new-group
          =link_to "#" do
            %i.fas.fa-edit.fas-white
        .edit-user
          =link_to "#" do
            %i.fas.fa-cog.fas-white
  .groups
    .group
      .group-name
        プログラミング
      .latest-message
        できるかな

